.main {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation {
  width: 350px;
  background-color: rgba(255, 255, 255, 0.07);
}

.memeContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meme {
  position: relative;
  box-shadow: 2px 4px 7px #000000, 2px 4px 21px #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.textOverlay {
  position: absolute;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 10px #000000;
}

.aboveImage {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  display: flex;
}

.aboveImage div {
  flex-grow: 1;
  width: 0;
}

.meme img {
  display: block;
}
