.top {
  margin-left: 80px;
  margin-top: 23px;
}

.top p {
  margin-left: 20px;
  margin-top: -23px;
  font-size: 15px;
}

.top:hover {
  cursor: pointer;
  opacity: 0.5;
}

.link {
  text-decoration: none;
  color: inherit;
}
