.uploadButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadButton input {
  margin-top: 2em;
  padding: 1em;
  width: 30%;
  background-color: rgb(247, 200, 115);
  outline: none;
  border-radius: 0.2em;
  transition: background-color 0.5s ease-in-out;
  border: 0.1em solid transparent;
}

 /* .uploadButton input:hover {
  background-color: rgb(44, 43, 43);
  border: 0.1em solid rgb(247, 200, 115);
  color: rgb(247, 200, 115);
  border-radius: 0.2em;
  transition: 0.5s;
  
}  */

.uploadButton button {
  padding: 1em;
  margin: 2em 5em 5em 5em;
  border: 0.1em solid transparent;
  background-color: rgb(247, 200, 115);
  border-radius: 0.2em;

  transition: background-color 0.5s ease-in-out;
}
.uploadButton button:hover {
  background-color: rgb(44, 43, 43);
  border: 0.1em solid rgb(247, 200, 115);
  color: rgb(247, 200, 115);
  border-radius: 0.2em;
  transition: 0.5s;
}

.uploadButton img {
  width: 30%;
  margin-top: 2.5em;
  border-radius: 0.2em;
}

@media screen and (max-width: 500px) {
  .uploadButton img {
    width: 100%;
    margin-top: 0em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
  }
  .uploadButton button {
    padding: 0.7em;
    margin: 2em;
  }
  .uploadButton input {
    width: 90%;
    padding: 0.7em;
  }
}

@media screen and (max-width: 1023px) and (min-width: 501px) {
  .uploadButton img {
    width: 50%;
    margin-top: 0em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
  }
  .uploadButton button {
    padding: 0.7em;
    margin-bottom: 2em;
  }

  .uploadButton input {
    width: 50%;
    padding: 0.7em;
  }
}
